<!DOCTYPE html>
<html lang="en">
<head>
  <title>JORDAN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/font-awesome.css">
  <link rel="stylesheet" href="static/style.css">
  <link rel="icon" type="img/png" sizes="72x72" href="static/img/jordan.svg">
</head>
<body>

  <!-- Page Loader Start -->
  <div class="page-loader">
    <div class="page-loader-inner">
      <div class="circle"></div>
      Loading
    </div>
  </div>
  <!-- Page Loader End -->

<!-- Bg Animation Effect Start -->
<div class="bg-animation-effect">
</div>
<!-- Bg Animation Effect End -->

<!-- Overlay Effect Start -->
<div class="overlay-effect">
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
  <div class="overlay-effect-item"></div>
</div>
<!-- Overlay Effect End -->

<!-- Header Start -->
 <header class="header">
   <div class="container">
     <div class="row flex-end">
       <button type="button" class="nav-toggler">
         <span></span>
       </button>
       <!-- nav -->
       <nav class="nav">
         <div class="nav-inner">
           <ul>
             <li><a href="#home" class="nav-item link-item">home</a></li>
             <li><a href="#members" class="nav-item link-item">members</a></li>
             <li><a href="#contact" class="nav-item link-item">contact</a></li>
           </ul>
         </div>
       </nav>
     </div>
   </div>
 </header>
<!-- Header End -->

<!-- About Section Start -->
<section class="about-section active" id="home">
  <div class="container">
    <div class="row min-vh-100">
      <div class="about-content">
        <center><img src="static/img/logo.jpg" alt="profile-img"></center>
        <h1>Hi, We are from <a class="link-item">JORDAN</a> Team.</h1>
        <h2>โครงการเว็บแอพพลิเคชันคัดกรองข่าวปลอมในประเทศไทย</h2>
          <p>JORDAN เป็นส่วนหนึ่งของโครงการ Young Safe Internet Leader Cyber Camp พวกเราคือเยาวชนพลเมืองอินเทอร์เน็ต ที่ตั้งใจลุกขึ้นมาเปลี่ยนแปลงสังคมออนไลน์ให้ปลอดภัย และสร้างสรรค์ (Responsible Netizen) โดยได้รับการสนับสนุนจาก dtac และ Plan International Thailand</p>
        <h2>ทำไมถึงทำโปรเจคนี้?</h2>
          <p>ปฏิเสธไม่ได้เลยว่าเทคโนโลยีเป็นสิ่งที่อยู่คู่กับการใช้ชีวิตประจำวันของมนุษย์ ทำให้มนุษย์เราพูดคุยกันน้อยลง แล้วหันไปเสพสื่อโซเชียลมีเดียกันมากขึ้น โดยสื่อข่าวทั้งหมดที่เราเสพในแต่ละวัน มีทั้งข่าวจริงและข่าวปลอมปะปนกันไป ซึ่งสังคมได้ยอมรับสื่อออนไลน์กันมากขึ้นมากขึ้นและมนุษย์มักมีพฤติกรรมที่“เชื่อในสิ่งที่เราเชื่ออยู่แล้ว” ก็อาจทำให้ข่าวที่คลาดเคลื่อนจากความจริงเพื่อให้ถูกใจคนอ่านแต่ ทำให้ได้รับความนิยมมากขึ้นตามมา</p>
          <p>จากที่กล่าวมาข้างต้นจึงทำให้มีสำนักข่าวใหม่เกิดขึ้นเป็นจำนวนมาก เพื่อที่ต้องการแสวงหาผลประโยชน์ ผลกำไร ทางด้านต่างๆ จากความนิยมของคนอ่าน โดยไม่สนใจว่าสิ่งที่ทำนั้นจะเป็นการสร้างข่าวปลอมขึ้นมาทั้งหมด สร้างข่าวปลอมขึ้นมาเพียงบางส่วน เพื่อต้องการในชื่อเสียง ยอดไลค์ ยอดแชร์ ซึ่งสิ่งเหล่านี้ส่งผลให้สำนักข่าวเป็นที่รู้จักมากขึ้นเป็นวงกว้าง และสามารถนำชื่อเสียงเหล่านี้เพื่อมาหาลูกค้า ที่ต้องนำสินค้าหรือธุรกิจมาลงโฆษณาในสำนักข่าว</p>
          <p>อย่างไรก็ตามปัญหาข่าวปลอมนั้นแก้ไม่ง่าย เพราะการวิเคราะห์ว่าข่าวไหนเป็นข่าวจริงหรือปลอม (ทั้งที่ปลอมบางส่วนและปลอมทั้งหมด) เป็นเรื่องยากและต้องใช้เวลามาก เนื่องจากปริมาณข่าวปลอมที่มีจำนวนมากและมีการเพิ่มขึ้นแบบทวีคูณ การแยกแยะโพสต์ในอินเทอร์เน็ตว่าอันไหนเป็นข่าวปลอมให้ได้ตลอดเวลา ต่อให้เป็นมนุษย์ที่มีประสบการณ์ด้านสื่อสารมวลชนมากก็ตาม จึงสรุปได้ว่าเป็นปัญหาที่ยังไม่สามารถแก้ไขโดยง่ายด้วยมนุษย์รวมถึงการเขียนโปรแกรมแบบใช้เงื่อนไขทั่วไป</p>
          <p>การเรียนรู้ของเครื่องหรือ <a class="link-item">Machine Learning</a> เป็นวิทยาศาสตร์ของการเขียนโปรแกรม โดยทำให้คอมพิวเตอร์สามารถเรียนรู้ด้วยตัวเองได้จากข้อมูล ซึ่งคือการนำข้อมูลและผลลัพธ์มาป้อนใส่คอมพิวเตอร์เพื่อให้คืนค่าออกมาเป็นสมการหรือโมเดลทางคณิตศาสตร์ขึ้นมาเอง แตกต่างจากการเขียนโปรแกรมแบบทั่วไปที่จะนำข้อมูลเข้ามา จากนั้นทำการเขียนโปรแกรมเพื่อหาผลลัพธ์ ซึ่งมีงานวิจัยของสุปัญญา อภิวงศ์โสภณ จากจุฬาลงกรณ์มหาวิทยาลัย พบว่า <a class="link-item">Machine Learning</a> สามารถคัดแยกระหว่างข่าวจริงกับข่าวปลอมได้ด้วยความแม่นยำถึงร้อยละ 99</p>
          <p>ทางผู้จัดทำจึงสนใจที่จะนำ <a class="link-item">Machine Learning</a> มาพัฒนาเป็นโมเดลสำหรับการคัดแยกข่าวจริงข่าวปลอมในประเทศไทย จากนั้นนำโมเดลที่ได้มาพัฒนาต่อเป็นเว็บแอปพลิเคชันให้คนไทยทั่วไปได้ใช้งานกันโดยการกรอก URL ของข่าวที่ต้องการตรวจสอบ จากนั้นโมเดลในเว็บแอปพลิเคชันจะทำการวิเคราะห์และทำนายผลลัพธ์เพื่อลดการกระจายตัวของข่าวปลอมในประเทศไทย</p>
        
        <br>
        <br>  
        <form action="{{ url_for('predict')}}" method="POST">
          <textarea name="message" rows="6" cols="50" placeholder="ใส่เนื้อหาข่าวที่ช่องนี้" required="required"></textarea>
          <!-- <input type="text" name="message" placeholder="ใส่เนื้อหาข่าวที่ช่องนี้" required="required" /> -->
          <br></br>
          <button type="submit" class="btn btn-primary btn-block btn-large">ตรวจสอบ</button>
          <div class="results">
          {% if prediction == ['FAKE']%}
            <h2 style="color:red;">ข่าวนี้เป็นข่าวเท็จ กรุณาอย่าแชร์ต่อ</h2>
          {% elif prediction == ['REAL']%}
            <h2 style="color:green;"><b>ข่าวนี้เป็นข่าวจริง สามารถแชร์ต่อได้</b></h2>
          {% endif %}  
      </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Portfolio Section Start -->
<section class="portfolio-section sec-padding" id="members">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Members</h2>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-filter">
        <button type="button" title="Show All Works" class="portfolio-filter-btn active" data-filter="all"></button>
      </div>

    </div>
    <div class="row portfolio-items">

       <!-- Film's portfolio item start -->
       <div class="portfolio-item" data-category="front-end">
         <div class="portfolio-item-thumbnail">
           <img src="static/img/portfolio/film.jpg" alt="thumbnail">
           <button type="button" class="btn more-info-btn">more info</button>
         </div>
         <h3 class="portfolio-item-title">นายวรันธร จันทร์สว่าง</h3>
         <div class="portfolio-item-details">
           <div class="general-info">
             <p>สถานศึกษา - <span>คณะวิศวกรรมศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย</span></p>
             <p>Email - <span>waranthornc_work@outlook.com</span></p>
             <p>Instagram - <span><a href="https://www.instagram.com/5hyfilm/" target="_blank">5hyfilm</a></span></p>
           </div>
         </div>
       </div>
       <!-- portfolio item end -->

       <!-- Thyme's portfolio item start -->
       <div class="portfolio-item" data-category="front-end">
        <div class="portfolio-item-thumbnail">
          <img src="static/img/portfolio/thyme.jpg" alt="thumbnail">
          <button type="button" class="btn more-info-btn">more info</button>
        </div>
        <h3 class="portfolio-item-title">นายปวริศร์ เปี่ยมปรีชา</h3>
        <div class="portfolio-item-details">
          <div class="general-info">
            <p>สถานศึกษา - <span>โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี)</span></p>
            <p>Email - <span>pawarit.jp@gmail.com</span></p>
            <p>Instagram - <span><a href="https://www.instagram.com/thyme_pp/" target="_blank">thyme_pp</a></span></p>
          </div>
        </div>
      </div>
      <!-- portfolio item end -->

       <!-- O's portfolio item start -->
       <div class="portfolio-item" data-category="front-end">
        <div class="portfolio-item-thumbnail">
          <img src="static/img/portfolio/o.jpg" alt="thumbnail">
          <button type="button" class="btn more-info-btn">more info</button>
        </div>
        <h3 class="portfolio-item-title">นายณัฎธนนท์ นาวีเรืองรัตน์</h3>
        <div class="portfolio-item-details">
          <div class="general-info">
            <p>สถานศึกษา - <span>โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี)</span></p>
            <p>Email - <span>natthanonnav@gmail.com</span></p>
            <!-- <p>Instagram - <span><a href="https://www.instagram.com/5hyfilm/" target="_blank">5hyfilm</a></span></p> -->
          </div>
        </div>
      </div>
      <!-- portfolio item end -->
    </div>
  </div>
</section>
<!-- Portfolio Section End -->

<!-- Contact Section Start -->
<section class="contact-section sec-padding min-vh-100" id="contact">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>contact us</h2>
      </div>
    </div>
    <div class="row">
      <div class="contact-content">
        <div class="contact-text">
          <p>หากต้องการติดต่อกับเรา ท่านสามารถติดต่อได้ผ่านทาง Email</p>
        </div>
        <div class="contact-info-item">
          <p>Email me on <span>waranthornc_work@outlook.com</span></p>
        </div>
        <!-- <div class="contact-info-item"> -->
          <!-- <p class="social-links">
            <span>Find me on</span>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </p> -->
        <!-- </div> -->
        <!-- <button type="button" class="btn toggle-contact-form-btn">Send message</button> -->
      </div>
      <!-- Contact Form Start -->
       <div class="contact-form">
         <div class="contact-form-inner">
           <div class="contact-form-container">
             <button type="button" class="close-btn toggle-contact-form-btn"></button>
           </div>
         </div>
       </div>
      <!-- Contact Form End -->
    </div>
  </div>
</section>
<!-- Contact Section End -->

<!-- Portfolio Item Details Popup Start -->
<div class="portfolio-popup">
  <div class="pp-overlay"></div>
  <div class="pp-inner">
    <div class="pp-content">
      <div class="pp-header">
        <!-- <h2 class="pp-counter"></h2> -->
        </h2>
        <button type="button" title="close" class="close-btn pp-close-btn"></button>
        <div class="pp-thumbnail">
          <img src=" " alt="pp-thumbnail">
        </div>
        <h3></h3>
      </div>
      <div class="pp-body">
      </div>
      <div class="pp-footer">
        <div class="pp-footer-left hidden">
          <button type="button" title="Prev Work" class="btn pp-prev-btn">
            <i class="fas fa-arrow-left"></i>
          </button>
          <h3></h3>
          <img src=" " alt="prev work thumbnail">
        </div>
        <div class="pp-footer-right hidden">
          <button type="button" title="Next Work" class="btn pp-next-btn">
            <i class="fas fa-arrow-right"></i>
          </button>
          <h3></h3>
          <img src=" " alt="next work thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Item Details Popup End -->

<script src="static/js/script.js"></script>
</body>
</html>